[variables]
NIXPACKS_PHP_EXTENSIONS = "intl, zip, bcmath, pdo_mysql, gd"
COMPOSER_INSTALL_FLAGS = "--ignore-platform-reqs --optimize-autoloader --no-dev"

[phases.setup]
nixPkgs = ["php82", "php82Extensions.intl", "php82Extensions.zip", "php82Extensions.bcmath", "nodejs_20"]

[phases.install]
dependsOn = ["setup"]
cmds = ["composer install --ignore-platform-reqs --optimize-autoloader --no-dev"]

[phases.build]
dependsOn = ["install"]
cmds = ["npm install", "npm run build", "php artisan storage:link"]
